body {
  margin: 10;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", 
"Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: red;
   font-weight: bold;
   background-color: lime;
   link: white;
   
}

 
.button {
  text-align: center;
  border: none;
  border-radius: 15px;
  background-color:white;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  width: 244px;
  height: 54px;
  font-size:medium;
}

.button:hover {
  background-color: red;
  color: yellow;
}

.button:focus {
  outline: none;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;

}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    height: 200px;
}

body:target { background-color:black; }
//body:target { background-color:blue; }
//body:target { background-color:white; }

.shadowbox {
  
  border: 1px solid #333;
  height: 24px;
  width: 120px;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(80deg, #fff, #ddd 40%, #ccc);
}
