body {
  margin: 10;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: yellow;
   background-color: #501B1D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
     color: #ADADAD;
     background-color: pink;
}




.button {
  text-align: center;
  border: none;
  border-radius: 15px;
  background-color: #1f7edc;
  color: yellow;
  cursor: pointer;
  margin: 10px;
  width: 144px;
  height: 54px;
}

.button:hover {
  background-color: #30567b;
  color: yellow;
}

.button:focus {
  outline: none;
}

}

